<% # TODO: サイドバーの高さ修正 %>
<div class="c-sidebar bg-dark c-sidebar-show sticky-top h-100">
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">
      ダッシュボード
    </li>
    <li class="c-sidebar-nav-item nav-dropdown">
      <a href="#">
        <i class="c-sidebar-nav-icon cil-pencil">
          テスト
        </i>
      </a>
    </li>
  </ul>
</div>